PORT=3000
DB_SERVER=svr-sql-ctezo.southcentralus.cloudapp.azure.com
DB_NAME=db_WebDevUMG
DB_USER=UsuarioEncuestas
DB_PASSWORD=COLOCA_AQUI_TU_CLAVE
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true
JWT_SECRET=CAMBIA_ESTO_POR_UNA_CADENA_ALEATORIA_LARGA
SEED_DEMO=true
